* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

body,
html,
input,
select,
textarea {
    font-family: Gilroy-Regular, sans-serif;
    color: $fontColor;
    font-weight: 600;
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 rem(8px);
    font-weight: 500;
}

h2 {
    color: $clr1;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        cursor: pointer;
    }
}

::selection {
    background-color: $bgcColor;
    color: $clr1;
}

input:focus-visible,
textarea:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
