// BREAKPOINTS:
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

// COLORS

$bgcColor: #f5f3f9;
$fontColor: #20242b;

$clr1: #321879;
$clr2: #adacab;
$clr3: #32187985;
$clr4: #eb5a46;
$clr5: #c377e0;
$clr6: #5ba4cf;
$clr7: #51e898;
$clr8: #2acce5;
$clr9: #ff8ed4;
$clr10: #172b4d;
$clr11: #b3bac5;
